.navbar-collapse {
    flex-grow: 0;
}

.logo {
    width: 100px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 30px;
}

.navbar-expand-lg .navbar-nav a {
    color: rgb(46, 46, 46);
    text-decoration: none;
    margin-left: 30px;
}