.banner h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgb(38, 38, 38);
}

.banner {
    background-image: url(/public/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}